@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>atualizar  Sala</h1>

<form method="post" action="atualizar">
    <div class="form-group">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" value="@ViewBag.salaAtualizar.SALAID" name="codigo" readonly>
    </div>

    <div class="form-group">
        <label for="descricao">Sala</label>
        <input type="text" class="form-control" id="descricao" value="@ViewBag.salaAtualizar.SALADESC" name="descricao" readonly>
    </div>
    <a href="/Sala/Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


